body
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #a7c7d1 ;
    margin: 0;
}

header, footer
{
    padding: 10vw;
    background-color: #69b7cf;
}

main
{
    padding: 10vw;
}

header
{
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom: inset #234049 5px;
}

footer
{
    border-top: outset #234049 5px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}




aside
{
    position: fixed;
    top: 0;
    text-align: center;
    word-spacing: 3em;
    background-color: #a1c6d1;
    width: 100%;
    height: 28px;
    border: inset black 2px;
}


a
{
    color: black;
    text-decoration: none;
}

aside > div > a
{
    color: rgb(216, 216, 93);
}

aside > div
{
    display: inline-block;
    background-color: black;
    padding: 5px 15px;
    border-radius: 5px;
}






h1
{
    font-size: 100px;
    text-align: center;
    font-family: Impact;
    letter-spacing: 5px;
}

h2
{
    font-size: 50px;
    text-align: center;
    font-family: Verdana;
    letter-spacing: 3px;
    word-spacing: 20px;
}

p
{
    text-align: left;
    font-size: 20px;
}

h3
{
    font-size: 30px;
    text-align: left;
}



section > article
{
    display: flex;
    margin: 20px 0;
    height: auto;
    padding: 2em;
    background-color: #90b6c2;
    border-radius: 20px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: inset #234049 2px ;
    border-right: inset #234049 2px ;
}

.cadriage
{
    background-color: #74aebb;
}


hr
{
    height: 5px;
    background-color: #234049;
    border: outset #234049 5px;
    border-radius: 5px;
}



.sommaire
{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.banniere
{
    border-bottom: inset #234049 4px ;
    border-right: inset #234049 4px ;
}



li
{
    list-style-image: url(images/atomicon.png);
    font-size: 25px;
    padding: 2em;
    padding-left: 0;
}


.niv1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.niv2
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

iframe
{
    min-width: 560px;
    border-radius: 10px;
}


.niv1:hover , .navhover:hover
{
    background-color: #a7c7d1;
}

.niv1, .navhover
{
    border-radius: 20px;
}

div > img
{
    border-radius: 50%;
}